.form.card .card-body {
    padding-bottom: 5px;
}

[type="submit"]:disabled {
    cursor: wait;
}

select:not(:disabled),
input[type="radio"]:not(:disabled) + label,
input[type="checkbox"]:not(:disabled) + label,
.custom-control-input:not(:disabled) + .custom-control-label,
.custom-switch-input:not(:disabled) ~ .custom-switch-indicator,
.custom-switch-input:not(:disabled) ~ .custom-switch-description {
    cursor: pointer;
}

table .buttons a {
    margin: 0 -5px;   
}

table .buttons a {
    margin: 0 5px;
}