.form.card .card-body {
    padding-bottom: 5px;
}

[type="submit"]:disabled {
    cursor: wait;
}

select:not(:disabled),
input[type="radio"]:not(:disabled) + label,
input[type="checkbox"]:not(:disabled) + label,
.custom-control-input:not(:disabled) + .custom-control-label,
.custom-switch-input:not(:disabled) ~ .custom-switch-indicator,
.custom-switch-input:not(:disabled) ~ .custom-switch-description {
    cursor: pointer;
}

table .buttons a {
    margin: 0 -5px;
}

table .buttons a {
    margin: 0 5px;
}

.custom-select {
    font-size: 14px;
}

.customer-type {
    font-size: 0.9em;
    color: #ffffff;
}
.customer-type-1 {
    color: var(--warning);
}
.customer-type-2 {
    color: var(--primary);
}

.customer-badge-1 {
    background-color: var(--warning);
    color: #ffffff;
}
.customer-badge-2 {
    background-color: var(--primary);
    color: #ffffff;
}
