.form.card .card-body {
    padding-bottom: 5px;
}

.form.card .card-header,
.list.card .card-header {
    justify-content: space-between;
}

.card-header-buttons {
    margin: 0 -7.5px;
}

.card-header-buttons > * {
    margin: 0 7.5px;
}

.fas.fa-sm,
.far.fa-sm,
.fab.fa-sm,
.fal.fa-sm {
    font-size: 0.875em;
}

[type="submit"]:disabled {
    cursor: wait;
}

select:not(:disabled),
input[type="radio"]:not(:disabled) + label,
input[type="checkbox"]:not(:disabled) + label,
.custom-control-input:not(:disabled) + .custom-control-label,
.custom-switch-input:not(:disabled) ~ .custom-switch-indicator,
.custom-switch-input:not(:disabled) ~ .custom-switch-description {
    cursor: pointer;
}

table .buttons > * {
    margin: 0 -5px;
}

table .buttons > * {
    margin: 0 5px;
}

.custom-select {
    font-size: 14px;
}

.customer-type {
    color: #ffffff;
    font-size: 0.9em;
}
.customer-type-1 {
    color: var(--warning);
}
.customer-type-2 {
    color: var(--primary);
}

.customer-badge-1 {
    background-color: var(--warning);
    color: #ffffff;
}
.customer-badge-2 {
    background-color: var(--primary);
    color: #ffffff;
}

textarea.form-control:not(.form-control-sm):not(.form-control-lg) {
    height: auto;
    min-height: 42px;
}

.money-input {
    text-align: right;
}

.table tbody th,
.table tbody td {
    vertical-align: middle;
}

table .approved-row .un-approved-element {
    display: none;
}

table .un-approved-row .approved-element {
    display: none;
}

#paymentForm .payment-types {
    display: none;
}

#paymentFrameModal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1090;
    width: 100%;
    height: 100%;
}

#paymentFrameModal .frame-body {
    background-color: #ffffff;
    width: 100%;
    min-width: 300px;
    max-width: 550px;
}

#paymentFrameModal .frame-body iframe {
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 450px;
}

.payment-frame-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1089;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.search-result .search-message {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 13px 18px;
    color: #6777ef;
    font-weight: 600;
}

.search-result .search-message .search-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.search-result .search-message .search-loading-icon i {
    font-size: 25px;
}

#searchFields > * {
    display: none;
}

#searchFields.results > .results,
#searchFields.loading > .loading,
#searchFields.empty > .empty,
#searchFields.placeholder > .placeholder {
    display: block;
}

.subscription-list {
    line-height: 1.6 !important;
}

.subscription-list li {
    margin-bottom: 7.5px;
}
